/**
 * Proxima Nova font family
 * Creates @font-face rules for the font family
 */

// Variables to reference the font files
$family: 'Proxima Nova';
$path: '../fonts/proxima-nova/';
$basename: 'ProximaNova-';
$extensions: (
	woff2: '.woff2',
	woff: '.woff',
);
// Make sure all fonts are available in all extensions above!
// Only woff2 and woff extensions are needed.

// Each variation of this font family
// The properties below should match the name in the font files after the $basename
$fonts: (
	'Regular': (
		weight: 400,
		style: normal,
	),
	'Italic': (
		weight: 400,
		style: italic,
	),
	'Bold': (
		weight: 700,
		style: normal,
	),
	'BoldItalic': (
		weight: 700,
		style: italic,
	),
);
//
// You can stop editing now!

// Function that returns all paths to a font variation
@function font-urls($variation, $formats) {
	$urls: null;
	@each $format, $extension in $extensions {
		$urls: append(
			$urls,
			url($path + $format + '/' + $basename + $variation + $extension) format('#{$format}'),
			comma
		);
	}
	@return $urls;
}

// Prints a @font-face for each font variation in the $fonts array
@each $font, $properties in $fonts {
	$font-weight: map-get($properties, weight);
	$font-style: map-get($properties, style);

	@font-face {
		font-family: $family;
		src: font-urls($font, $extensions);
		font-weight: $font-weight;
		font-style: $font-style;
		font-display: swap;
	}
}
