<?php

namespace Theme\FieldGroups;

use Solidify\Core\FieldGroup;
use Solidify\Core\Page;
use Solidify\Fields;

class {{ pascalCase name }}ContentFieldGroup extends FieldGroup { // phpcs:ignore
    public function __construct() { // phpcs:ignore
        $this->set_fields(
            array(
				'example_tab' => new Fields\Tab( 'Tab' ), // TODO: Rename or remove
			)
        );

        $this->args = array(
			'key'            => '{{ kebabCase name }}-content',
			'title'          => 'Page Content',
			'layout'         => 'seamless',
			'location'       => array(
				array(
					Page::template_is_equal_to( 'templates/{{ kebabCase name }}' ),
				),
			),
			'hide_on_screen' => array(
				1 => 'the_content',
			),
        );
    }
}

