<?php
namespace Theme\Pages;

/**
 * Object model for the page_data field for the {{ titleCase name }} page
 */
class {{ pascalCase name }}PageData extends DefaultPageData {
	/**
	 * Construct the data to return in the page_data field.
	 *
	 * @param int|WP_Post $page The page ID or object. If not defined, gets the page in context.
	 */
    public function __construct( $page = null ) {
		parent::__construct( $page );

		// Get content for page_data
        // Add new properties here...
    }
}
