<?php

namespace Theme\Hooks;

use Solidify\Core\Hook;

/**
 * {{ description }}
 */
class {{ pascalCase name }} extends Hook {
	public function __construct() { // phpcs:ignore
		// $this->add_action( 'action_name', 'example_function' );
	}

	/**
	 * // TODO: Add the function description
	 */
	public function example_function() {
	}
}
