body.user-edit-php .form-table label[for=btn-media-add]::after,body.profile-php .form-table label[for=btn-media-add]::after{content:"Recommended size: 500x500px, JPG";display:block;font-size:14px;font-weight:normal;color:#646970;margin-top:.5rem}
