#wpadminbar{border-top:solid 3px transparent}#wpadminbar #wp-admin-bar-site-name>.ab-item{display:flex;align-items:center}#wpadminbar #wp-admin-bar-site-name>.ab-item:before{content:"";width:20px;height:20px;background-size:20px 20px;background-repeat:no-repeat;padding:0;top:0;border-radius:50%}#wpadminbar #wp-admin-bar-site-name>.ab-item:after{margin-left:.35em;font-weight:bold;height:1em;line-height:1;padding:.1em .15em;color:#fff;text-transform:uppercase;border-radius:.1em;font-size:.9em}
