<?php

namespace Theme\Api;

use Solidify\Core\Hook;

/**
 * Extends the /wp/v2/{{ endpoint }} endpoint with new custom fields
 *
 * @link https://developer.wordpress.org/rest-api/extending-the-rest-api/modifying-responses/
 */
class {{ pascalCase className }} extends Hook {
	private $object_type = '{{ objectType }}';

	public function __construct() { // phpcs:ignore
		$this->add_action( 'rest_api_init', 'add_example_field' );
	}

	/**
	 * Add a field that returns SOMETHING_NOT_YET_DESCRIBED // TODO: Add function description
	 */
	public function add_example_field() {
		register_rest_field(
            $this->object_type,
            'example',
            array(
				'get_callback' => function( ${{ objectType }} ) {
					return 'Simplicity is the soul of efficiency.';
				},
				'schema'       => null,
            )
	 	);
	}
}
