@import 'core/variables';

.edit-post-meta-boxes-area {
	&:not(.is-side) {
		.acf-postbox {
			h2.hndle {
				font-size: 18px;
			}
			// .acf-field {
			// 	.acf-label {
			// 		label {
			// 			font-size: 16px;
			// 			color: #198ac1;
			// 		}
			// 	}
			// }
		}
	}
	&.is-side {
		.acf-postbox {
			h2.hndle {
				font-size: 13px !important;
				font-weight: 500 !important;
			}
			// button[class*='handle-order-'] {
			// 	display: none;
			// }
		}
	}
}
.acf-postbox {
	.acf-field {
		.acf-label {
			label {
				font-size: 16px;
				color: #198ac1;

				small {
					font-weight: 500;
				}
			}
			.acf-field {
				.acf-label {
					label {
						font-size: 14px;
					}
				}
			}
		}
		/* Hide unallowed formatting for editing posts */
		&.minimal-editor {
			.mce-btn-group {
				.mce-btn {
					display: none;
				}
			}
		}
		/* Lock the text area height */
		&.no-resize {
			.mce-edit-area iframe,
			.wp-editor-area {
				height: 200px !important;
				resize: none;
			}
			.mce-container-body {
				.mce-statusbar {
					.mce-resizehandle {
						display: none;
					}
				}
			}
		}
		/* Remove unnecessary space from TinyMCE (without Media Button) */
		&.no-media {
			.wp-editor-tools {
				position: absolute;
				right: 0;
				top: 0;
				transform: translateY(-100%);
			}
			.description {
				padding-right: 120px;
			}
		}
		/* Reduce height editor for the WYSIWYG editor */
		&.reduced-height {
			.mce-edit-area iframe,
			.wp-editor-area {
				height: 120px !important;
				min-height: 120px;
			}
		}
		/* Bold for text inputs */
		&.bold {
			input {
				font-weight: bold;
			}
		}
		/* For titles */
		&.title {
			input {
				font-size: 30px;
			}
		}
		/* Serif font for text inputs */
		&.serif {
			input {
				font-family: serif;

				&[type='text'] {
					font-size: 125%;
				}
			}
		}
		/* Serif font for text inputs */
		&.italic {
			input {
				font-style: italic;
			}
		}
		input::placeholder {
			color: #bbb;
		}
	}
	.acf-field-group {
		.acf-field {
			.acf-label {
				label {
					color: #23282d;
				}
			}
		}
	}
	th {
		&.acf-th {
			font-weight: bold !important;
			p {
				font-weight: normal !important;
			}
		}
	}
}
