@import 'core/variables';

// Variables
$background-error: #ffe4e4;
$background-content: #f8f8f8;
$muted: $wp-medium-gray;
$warning: $wp-yellow;
$error: $wp-red;
$info: $wp-blue;

#build-conformance-page {
	// Prevent showing elements before Vue execute
	display: none;
	&.loaded {
		display: block;
	}

	.info-message {
		display: flex;
		align-items: center;

		.spinner {
			float: none;
			margin: 0 rem(6) 0 0;
		}
	}

	.accordion {
		border-radius: rem(6);
		width: 100%;
		color: $black;
		display: grid;
		margin-bottom: 0.5rem;
		border: none;
		appearance: none;
		margin-bottom: rem(5);
		transition: opacity 0.1s linear;

		&.faded {
			opacity: 0.35;
		}

		&--warning {
			.dashicons-warning {
				color: $warning;
				display: inline-block;
				margin-right: 0.5rem;
			}
			.accordion-content ul li::before {
				color: $warning;
			}
		}
		&--error {
			.dashicons-dismiss {
				color: $error;
				display: inline-block;
				margin-right: 0.5rem;
			}
			.accordion-content ul li::before {
				color: $error;
			}
		}
		&--faq {
			.dashicons-editor-help {
				color: $info;
				display: inline-block;
				margin-right: 0.5rem;
			}
		}
		&--warning,
		&--error {
			.accordion-toggle {
				box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

				&:hover {
					box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
				}
			}
		}
		&--success {
			.dashicons-yes-alt {
				color: $muted;
				display: inline-table;
				margin-right: rem(10);
			}
			.accordion-toggle {
				background: #e6e6e6;
				color: $wp-medium-gray;
				pointer-events: none;
			}
		}

		&-toggle {
			display: flex;
			padding: 1em;
			background-color: $white;
			color: $wp-base-gray;
			border-radius: 0.5rem;
			border: none;
			cursor: pointer;
			transition: background-color 0.1s linear, box-shadow 0.1s linear;
			position: relative;

			&-label {
				font-size: 1rem;
				font-weight: bold;
			}

			&-count {
				background: #e6e6e6;
				border-radius: 30px;
				margin-left: 0.5rem;
				padding: 0.125rem 0.375rem;
				color: black;
				font-weight: bold;
			}

			&-action {
				display: inline-flex;
				align-items: center;
				margin-left: auto;
				font-weight: 600;
				//color: $wp-medium-gray;

				&.expandable {
					&::after {
						content: '〱';
						font-size: 1rem;
						text-align: center;
						transition: transform 0.2s ease-out;
						transform: rotate(270deg);
						display: inline-block;
						margin: 0 0.35em;
					}
				}
				&:not(.expandable) {
					margin-right: 0.5em;
				}
			}
		}

		&-content {
			max-height: 0;
			padding: 0 rem(16);
			color: $black;
			background: $background-content;
			transition: all 0.35s ease-out;
			overflow-y: auto;

			&-message {
				margin: 1.25rem 0;
			}

			h3 {
				font-size: rem(14);
				font-weight: 600;
			}

			ul {
				li {
					padding-top: rem(10);
					margin-top: 0;
					font-size: rem(15);
					font-weight: 600;
					border-top: 1px solid $wp-light-gray;

					&::before {
						content: '›';
						margin-right: rem(6);
						font-size: rem(16);
					}

					a {
						font-size: rem(13);
						text-decoration: none;
						margin-left: rem(12);

						i:before {
							font-size: rem(18);
							vertical-align: inherit;
						}
					}
				}
			}
		}

		&.expanded {
			.accordion-toggle-action.expandable::after {
				transform: rotate(270deg) scaleX(-1);
			}
			.accordion-content {
				max-height: 80vh;
				padding: 0 rem(16);
			}
		}

		&--faq {
			&.expanded {
				.accordion-content {
					max-height: 400px;
				}
			}
		}
	}

	.action-buttons {
		margin-top: 1rem;

		& > button:not(:first-of-type) {
			margin-left: 0.25rem;
		}

		.post-status-checkboxes {
			& > span {
				display: block;
				margin-bottom: rem(6);
			}

			input[type='checkbox'] {
				&:not(:checked) + span {
					opacity: 0.75;
				}
				&:checked {
					& + span {
						font-weight: 600;
					}
				}
			}

			label {
				&:hover {
					span {
						opacity: 1 !important;
					}
				}
			}
		}
	}

	.button-black {
		background-color: $wp-base-gray;
		border-color: $wp-base-gray;

		&:hover {
			background-color: black;
			border-color: black;
		}
	}

	.button-with-icon {
		text-decoration: none;
		display: inline-flex;
		align-items: center;
		vertical-align: middle;
		margin-right: 2px;

		& > span {
			display: inline-flex;
			align-items: center;
		}

		.dashicons {
			font-size: rem(16);
			height: auto;
		}
	}

	.card-success,
	.card-error {
		background-color: $background-content;
		border-radius: rem(5);
		border: 1px solid $wp-medium-gray;
		padding: rem(8) rem(16);
		margin-bottom: rem(12);
		p {
			margin: 0;
			strong {
				font-weight: 700;
			}
		}
		.time-response {
			background-color: $white;
			border-radius: rem(3);
			border: 1px solid $wp-medium-gray;
			padding: rem(2) rem(8);
			margin: rem(10) 0 rem(5);
			display: inline-block;
		}
		.error-response {
			background-color: $background-error;
			border-radius: rem(3);
			border: 1px solid $wp-medium-gray;
			padding: rem(2) rem(8);
			margin: rem(10) 0 rem(5);
			display: inline-block;
			strong {
				color: $wp-red;
			}
		}
	}
}
