@import 'core/variables';

// Fonts
@import 'fonts/proxima-nova';

*,
p {
	font-family: $font-family-sans-serif;
	color: #222; // %BODY_COLOR% (DO NOT REMOVE THIS COMMENT)
}

.editor-post-title__input {
	font-family: $font-family-sans-serif;
	font-size: $h1-font-size; // %H1_FONT_SIZE% (DO NOT REMOVE THIS COMMENT)
	color: $primary; // %HEADING_COLOR% (DO NOT REMOVE THIS COMMENT)
	line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}
h1 {
	font-size: $h1-font-size;
}
h2 {
	font-size: $h2-font-size;
}
h3 {
	font-size: $h3-font-size;
}
h4 {
	font-size: $h4-font-size;
}
h5 {
	font-size: $h5-font-size;
}
h6 {
	font-size: $h6-font-size;
}

p {
	font-size: 16px; // %BODY_FONT_SIZE% (DO NOT REMOVE THIS COMMENT)
	line-height: 1.5;

	strong {
		font-weight: 700;
	}
}

ol,
ul {
	padding-left: 1.5rem;

	li {
		margin-bottom: 0.5em;
	}
}

body.webkit {
	strong,
	b {
		font-weight: 500 !important;
		font-family: inherit;
	}
}

.wp-block {
	max-width: 900px; // %CONTAINER_WIDTH% (DO NOT REMOVE THIS COMMENT)
}
