@import 'core/variables';

h1 {
	font-weight: 600 !important;
	font-size: 26px !important;
}

/* Admin re-login prompt bars */
#wp-auth-check-wrap #wp-auth-check {
	background: #000; // %BODY_COLOR% (DO NOT REMOVE THIS COMMENT)
}

/* Adjust thumbnail column on listing pages */
.wp-list-table {
	.column-thumbnail {
		.img-wrapper {
			display: block;
			position: relative;
			width: 60px;
			height: 60px;
			overflow: hidden;
			border-radius: 50%;

			img {
				max-width: 100%;
				height: auto;
			}
		}
	}
}

/* Add custom style for Uncategorized link on the posts listing */
.wp-list-table .column-categories a[href*='uncategorized'] {
	background: $wp-red;
	color: white;
	padding: 0.15em 0.3em;
	border-radius: 4px;
	transition: background-color 0.1s linear;

	&:hover,
	&:focus {
		background: darken($wp-red, 5%);
	}
}

/* Hide irrelevant fields from the user's profile page */
body.user-edit-php,
body.profile-php {
	// Social media contact
	.user-url-wrap,
	.user-facebook-wrap,
	.user-instagram-wrap,
	.user-linkedin-wrap,
	.user-myspace-wrap,
	.user-pinterest-wrap,
	.user-soundcloud-wrap,
	.user-tumblr-wrap,
	.user-twitter-wrap,
	.user-youtube-wrap,
	.user-wikipedia-wrap,

	// Native Gratavar profile picture
	.user-profile-picture,

	// Rating from avatar plugin
	#simple-local-avatar-section .ratings-row {
		display: none;
	}
}

/* Hides the button to add new taxonomies in the sidebar */
body.post-type-post {
	button.editor-post-taxonomies__hierarchical-terms-add,
	a.taxonomy-add-new {
		display: none;
	}

	#taxonomy-post_tag {
		.wpseo-make-primary-term {
			display: none;
		}
	}
}

/* Customizations for Headless Preview */
body {
	&.post-php,
	&.post-new-php {
		.block-editor-post-preview__button-toggle {
			display: none; // Disabled for all by default, enabled via PHP
			&::after {
				@include dashicons-base('\f504'); // dashicons-external
				$icon-size: 1rem;
				font-size: $icon-size;
				width: $icon-size;
				height: $icon-size;
				margin-left: 0.1em;
			}
		}
		// Hide the preview options dropdown
		.edit-post-post-preview-dropdown {
			display: none;
		}
		// Hides the 'Preview Changes' button
		#preview-action {
			display: none !important;
		}
	}
}
