@import 'core/variables';

h1,
h2,
h3,
h4,
h5,
h6 {
	&:before {
		position: absolute;
		transform: translate(calc(-100% - 1rem), 0.25em);
		font-weight: bold;
		background: #eee;
		color: #656565;
		border-radius: 0.25em;
		border: 1px solid #656565;
		font-size: 0.75em;
		opacity: 0.6;
		transition: opacity 0.1s linear;
		padding: 0 0.25em;
	}
}
h1 {
	&:not(.editor-post-title__input) {
		&:before {
			content: '⚠️';
			background: $wp-red;
			border: none;
			color: white;
			font-size: 1.5rem;
			margin-top: 0.5rem;
			opacity: 1 !important;
		}
	}
}
h2,
.h2 {
	&:before {
		content: 'H2';
		background: lighten($wp-orange, 40%);
		color: darken($wp-orange, 7%);
		border-color: darken($wp-orange, 7%);
	}
}
h3,
.h3 {
	&:before {
		content: 'H3';
		background: lighten($wp-green, 45%);
		color: darken($wp-green, 10%);
		border-color: darken($wp-green, 10%);
	}
}
h4,
.h4 {
	&:before {
		content: 'H4';
		background: lighten($wp-purple, 40%);
		color: darken($wp-purple, 7%);
		border-color: darken($wp-purple, 7%);
	}
}
h5,
.h5 {
	&:before {
		content: 'H5';
		background: lighten($wp-blue, 60%);
		color: darken($wp-blue, 10%);
		border-color: darken($wp-blue, 10%);
	}
}
h6,
.h6 {
	&:before {
		content: 'H6';
		background: lighten($wp-red, 45%);
		color: darken($wp-red, 7%);
		border-color: darken($wp-red, 7%);
	}
}
