@use 'sass:math';

@import 'core/variables';

// BACKGROUND
$bg-color: #000; // %BODY_COLOR% (DO NOT REMOVE THIS COMMENT)

// TEXT
$label-text-color: #fff; // %BODY_COLOR% (DO NOT REMOVE THIS COMMENT)

// LOGO
$logo-src-width: 512px; // %LOGO_ORIGINAL_WIDTH% (DO NOT REMOVE THIS COMMENT)
$logo-src-height: 512px; // %LOGO_ORIGINAL_HEIGHT% (DO NOT REMOVE THIS COMMENT)
$logo-aspect-ratio: math.div($logo-src-height, $logo-src-width);
$logo-size: 100px; // %LOGO_WIDTH% (DO NOT REMOVE THIS COMMENT)
$logo-padding-bottom: 0;

// INPUTS
$input-text-color: #fff;
$input-bg-color: transparent;
$input-border-radius: 5px;
$input-border: 1px solid $label-text-color;
$input-padding: 0.25rem 0.75rem 0.5rem 0.75rem !important;
$input-focus-shadow-color: 0 0 0 3px rgba($wp-blue, 0.8);

// BUTTON
$btn-bg-color: #dc401d; // %BUTTON_BG_COLOR% (DO NOT REMOVE THIS COMMENT)
$btn-text-color: #fff; // %BUTTON_TEXT_COLOR% (DO NOT REMOVE THIS COMMENT)
$btn-padding: 4px 15px 6px 15px;
$btn-border: 5px;
$btn-border-radius: 5px;
$btn-uppercase: true;

$btn-hover-bg-color: darken(#dc401d, 5%);
$btn-hover-text-color: #fff;
$btn-hover-transition: background-color 0.15s linear, color 0.15s linear;

body.login {
	background: $bg-color;
	border-top: solid 3px transparent; // For market border color
	box-sizing: border-box;
}
#login,
.login {
	// LOGIN
	h1 {
		a {
			$logo-height: math.round($logo-size * $logo-aspect-ratio);
			$logo-width: $logo-size;

			/* background-image: url() is defined on the php class */
			width: $logo-width;
			height: $logo-height;
			background-size: $logo-width $logo-height;
			background-repeat: no-repeat;
			padding-bottom: $logo-padding-bottom;
		}

		&:before {
			display: inline-block;
			width: 40px;
			margin-top: 20px;
			margin-bottom: 24px !important;
		}
	}

	// FORM
	form {
		background: transparent;
		box-shadow: none;
		margin-top: 0;
		border: none;

		.input,
		input[type='text'] {
			background: $input-bg-color;
			border: $input-border;
			padding: $input-padding;
			font-weight: bold;
			color: $input-text-color;
			border-radius: $input-border-radius;
			&:focus {
				box-shadow: $input-focus-shadow-color;
			}
		}
		input[type='checkbox'] {
			background: #fff;
			border: $input-border;
			border-radius: 50%;
			&:focus {
				box-shadow: $input-focus-shadow-color;
			}
		}
		input#wp-submit {
			background: $btn-bg-color;
			box-shadow: none;
			border: $btn-border;
			text-shadow: none;
			font-size: rem(15);
			font-weight: 600;
			color: $btn-text-color;
			padding: $btn-padding;
			height: auto;
			border-radius: $btn-border-radius;
			@if $btn-uppercase {
				text-transform: uppercase;
			}
			letter-spacing: 0.15em;
			transition: $btn-hover-transition;
			&:hover,
			&:focus {
				background: $btn-hover-bg-color;
				color: $btn-hover-text-color;
			}
			&:focus {
				box-shadow: $input-focus-shadow-color;
			}
		}
	}

	// NOTICES
	#login_error,
	.message,
	.success {
		margin-left: 25px;
		margin-right: 25px;
		border: none;
		color: #fff;
		margin-bottom: 0;
	}
	.message {
		background: #00a0d2;
		a {
			color: #c8f1fd;
		}
	}
	.success {
		background: #46b450;
		a {
			color: #e3ffb7;
		}
	}
	#login_error {
		background: #dc3232;
		a {
			color: #ffccb4;
		}
	}

	// LABELS AND LINKS
	label {
		color: $label-text-color;
		font-weight: 600;
	}
	#backtoblog,
	#nav {
		a {
			color: $label-text-color;
			opacity: 0.65;
			&:hover {
				opacity: 1;
			}
		}
	}

	// EMAIL VERIFICATION
	.admin-email-confirm-form {
		.admin-email__heading,
		.admin-email__details {
			color: $label-text-color;
		}
	}
}
