#wpadminbar {
	border-top: solid 3px transparent;

	#wp-admin-bar-site-name {
		& > .ab-item {
			display: flex;
			align-items: center;
		}
		& > .ab-item:before {
			content: '';
			width: 20px;
			height: 20px;
			background-size: 20px 20px;
			background-repeat: no-repeat;
			padding: 0;
			top: 0;
			border-radius: 50%;
		}
		& > .ab-item:after {
			margin-left: 0.35em;
			font-weight: bold;
			height: 1em;
			line-height: 1;
			padding: 0.1em 0.15em;
			color: white;
			text-transform: uppercase;
			border-radius: 0.1em;
			font-size: 0.9em;
		}
	}
}
