<?php

namespace Theme\FieldGroups;

use Solidify\Core\FieldGroup;
use Solidify\Fields;

class {{ pascalCase name }}FieldGroup extends FieldGroup { // phpcs:ignore
    public function __construct() { // phpcs:ignore
        $this->set_fields(
            array()
        );

        $this->args = array(
			'key'      => '{{ kebabCase name }}',
			'title'    => '{{ titleCase title }}',
			'layout'   => 'seamless',
			'location' => array(
				array(),
			),
        );
    }
}

