<?php

namespace Theme\PostTypes;

use Solidify\Core\PostType;

/**
 * Register the {{ snakeCase singularName }} custom post type
 */
class {{ pascalCase singularName }} extends PostType {
	public function __construct() {
		$this->post_type = '{{ snakeCase singularName }}';

		$labels = array(
			'name'               => _x( '{{ titleCase pluralName }}', '{{ snakeCase singularName }}', '_B_THEME_NAME' ),
			'singular_name'      => _x( '{{ titleCase singularName }}', '{{ snakeCase singularName }}', '_B_THEME_NAME' ),
			'menu_name'          => _x( '{{ titleCase pluralName }}', '{{ snakeCase singularName }}', '_B_THEME_NAME' ),
			'all_items'          => _x( 'All {{ titleCase pluralName }}', '{{ snakeCase singularName }}', '_B_THEME_NAME' ),
			'add_new'            => _x( 'Add New', '{{ snakeCase singularName }}', '_B_THEME_NAME' ),
			'add_new_item'       => _x( 'Add New {{ titleCase singularName }}', '{{ snakeCase singularName }}', '_B_THEME_NAME' ),
			'edit_item'          => _x( 'Edit {{ titleCase singularName }}', '{{ snakeCase singularName }}', '_B_THEME_NAME' ),
			'insert_into_item'   => _x( 'Insert into {{ titleCase singularName }}', '{{ snakeCase singularName }}', '_B_THEME_NAME' ),
			'item_updated'       => _x( '{{ titleCase singularName }} updated', '{{ snakeCase singularName }}', '_B_THEME_NAME' ),
			'item_published'     => _x( '{{ titleCase singularName }} published', '{{ snakeCase singularName }}', '_B_THEME_NAME' ),
			'search_items'       => _x( 'Search {{ titleCase pluralName }}', '{{ snakeCase singularName }}', '_B_THEME_NAME' ),
			'not_found'          => _x( 'No {{ lowerCase singularName }} found', '{{ snakeCase singularName }}', '_B_THEME_NAME' ),
			'not_found_in_trash' => _x( 'No {{ lowerCase singularName }} found in Trash', '{{ snakeCase singularName }}', '_B_THEME_NAME' ),
		);

		$this->args = array(
			'labels'              => $labels,
			'public'              => false,
			'publicly_queryable'  => false,
			'show_ui'             => true,
			'show_in_rest'        => {{ showInRest }},
			'rest_base'           => '{{ kebabCase pluralName }}',
			'has_archive'         => false,
			'show_in_menu'        => true,
			'exclude_from_search' => true,
			'capability_type'     => 'post',
			'map_meta_cap'        => true,
			'hierarchical'        => {{ isHierarchical }},
			'menu_position'       => 20,
			'rewrite'             => array(
				'slug'       => '{{ snakeCase singularName }}',
				'with_front' => false,
			),
			'query_var'           => true,
			'supports'            => array({{{ supports }}}),
			'menu_icon'           => '{{ dashicon }}',
			'taxonomies'          => array(),
		);
	}
}
